body {
    font-family: sans-serif;
    background-color: #f3f3f3;
    color: #333;
    direction: rtl;
    text-align: center;
    padding: 50px;
  }
  
  .container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: inline-block;
  }
  